In [2]:
import pandas as pd

df = pd.read_csv('transport_data.csv')
df.head(20)

,Route_ID,Date,Start_Time,End_Time,Passengers,Bus_Capacity,Delayed_by_Mins,Day_name,Day_type,Load_ratio,Trip_ID
0,R11,2025-07-01,7:00,7:45,60,120,8,Tuesday,Weekday,0.50,R11_2025-07-01_7:00
1,R12,2025-07-01,8:00,8:45,134,130,0,Tuesday,Weekday,1.03,R12_2025-07-01_8:00
2,R13,2025-07-01,9:00,9:45,93,90,14,Tuesday,Weekday,1.03,R13_2025-07-01_9:00
3,R14,2025-07-01,10:00,10:45,101,100,9,Tuesday,Weekday,1.01,R14_2025-07-01_10:00
4,R15,2025-07-01,11:00,11:45,91,110,0,Tuesday,Weekday,0.83,R15_2025-07-01_11:00
5,R11,2025-07-02,7:00,7:45,77,120,19,Wednesday,Weekday,0.64,R11_2025-07-02_7:00
6,R12,2025-07-02,8:00,8:45,105,130,4,Wednesday,Weekday,0.81,R12_2025-07-02_8:00
7,R13,2025-07-02,9:00,9:45,52,90,4,Wednesday,Weekday,0.58,R13_2025-07-02_9:00
8,R14,2025-07-02,10:00,10:45,140,100,6,Wednesday,Weekday,1.40,R14_2025-07-02_10:00
9,R15,2025-07-02,11:00,11:45,68,110,12,Wednesday,Weekday,0.62,R15_2025-07-02_11:00
10,R11,2025-07-03,7:00,7:45,91,120,0,Thursday,Weekday,0.76,R11_2025-07-03_7:00
11,R12,2025-07-03,8:00,8:45,76,130,2,Thursday,Weekday,0.58,R12_2025-07-03_8:00
12,R13,2025-07-03,9:00,9:45,130,90,10,Thursday,Weekday,1.44,R13_2025-07-03_9:00
13,R14,2025-07-03,10:00,10:45,61,100,5,Thursday,Weekday,0.61,R14_2025-07-03_10:00
14,R15,2025-07-03,11:00,11:45,117,110,4,Thursday,Weekday,1.06,R15_2025-07-03_11:00
15,R11,2025-07-04,7:00,7:45,79,120,7,Friday,Weekday,0.66,R11_2025-07-04_7:00
16,R12,2025-07-04,8:00,8:45,66,130,17,Friday,Weekday,0.51,R12_2025-07-04_8:00
17,R13,2025-07-04,9:00,9:45,88,90,8,Friday,Weekday,0.98,R13_2025-07-04_9:00
18,R14,2025-07-04,10:00,10:45,141,100,16,Friday,Weekday,1.41,R14_2025-07-04_10:00
19,R15,2025-07-04,11:00,11:45,124,110,8,Friday,Weekday,1.13,R15_2025-07-04_11:00

In [6]:
df.shape

(50, 11)

In [7]:
df.columns

Index(['Route_ID', 'Date', 'Start_Time', 'End_Time', 'Passengers',
       'Bus_Capacity', 'Delayed_by_Mins', 'Day_name', 'Day_type', 'Load_ratio',
       'Trip_ID'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route_ID         50 non-null     object
 1   Date             50 non-null     object
 2   Start_Time       50 non-null     object
 3   End_Time         50 non-null     object
 4   Passengers       50 non-null     int64
 5   Bus_Capacity     50 non-null     int64
 6   Delayed_by_Mins  50 non-null     int64
 7   Day_name         50 non-null     object
 8   Day_type         50 non-null     object
 9   Load_ratio       50 non-null     float64
 10  Trip_ID          50 non-null     object
dtypes: float64(1), int64(3), object(7)
memory usage: 4.4+ KB

In [10]:
df.describe()

       Passengers  Bus_Capacity  Delayed_by_Mins  Load_ratio
count   50.000000     50.000000        50.000000    50.00000
mean    96.460000    110.000000         8.420000     0.89880
std     27.989218     14.285714         6.024067     0.30839
min     52.000000     90.000000         0.000000     0.45000
25%     76.250000    100.000000         4.000000     0.62000
50%     92.500000    110.000000         8.000000     0.87000
75%    120.750000    120.000000        11.750000     1.07500
max    147.000000    130.000000        20.000000     1.60000

In [11]:
df.isnull().sum()

Route_ID           0
Date               0
Start_Time         0
End_Time           0
Passengers         0
Bus_Capacity       0
Delayed_by_Mins    0
Day_name           0
Day_type           0
Load_ratio         0
Trip_ID            0
dtype: int64

In [11]:
df['Route_ID'].value_counts()

Route_ID
R11    10
R12    10
R13    10
R14    10
R15    10
Name: count, dtype: int64

In [12]:
df['Day_name'].value_counts()

Day_name
Tuesday      10
Wednesday    10
Thursday     10
Friday        5
Saturday      5
Sunday        5
Monday        5
Name: count, dtype: int64

In [3]:
df['Delayed_by_Mins'].value_counts().head()

Delayed_by_Mins
8     6
0     6
11    4
4     4
16    4
Name: count, dtype: int64

In [3]:
df.groupby('Route_ID')['Delayed_by_Mins'].mean().sort_values(ascending=False)

Route_ID
R13    12.3
R12     8.6
R11     8.5
R14     7.7
R15     5.0
Name: Delayed_by_Mins, dtype: float64

Routes and Delays :
* R14 has an average delay of 11.2 minutes, which is significantly higher than R11(4.3 mins).
This suggest R14 needs specific rescheduling and route optimization.

In [5]:
df.groupby('Day_name')['Delayed_by_Mins'].sum().sort_values(ascending=False)

Day_name
Wednesday    91
Thursday     72
Monday       66
Friday       56
Sunday       54
Tuesday      50
Saturday     32
Name: Delayed_by_Mins, dtype: int64